In [1]:
from data_loader import DataLoader
import pandas as pd
loader = DataLoader()
data = pd.read_csv(r'E:\AMIT\End-to-End-Pipeline\data\raw\ford_go_bike_data.csv')

In [2]:
import pandas as pd
from data_overview import DataOverview
overview = DataOverview()
# overview.shape(data)
# overview.sample(data,10)
# overview.duplicates(data)
# overview.outliers(data)
# overview.overview(data)
overview.get_stats(data)

,Column,Type,Count,Mean,Std,Min,Max
0,duration_sec,numeric,183416,726.07,1794.37,61.00,85444.00
1,start_station_id,numeric,183219,138.59,111.78,3.00,398.00
2,start_station_latitude,numeric,183416,37.77,0.10,37.32,37.88
3,start_station_longitude,numeric,183416,-122.35,0.12,-122.45,-121.87
4,end_station_id,numeric,183219,136.25,111.51,3.00,398.00
5,end_station_latitude,numeric,183416,37.77,0.10,37.32,37.88
6,end_station_longitude,numeric,183416,-122.35,0.12,-122.45,-121.87
7,bike_id,numeric,183416,4472.89,1664.39,11.00,6645.00
8,member_birth_year,numeric,175151,1984.81,10.12,1878.00,2001.00

In [3]:
data.head(5)

,duration_sec,start_time,end_time,start_station_id,start_station_name,start_station_latitude,start_station_longitude,end_station_id,end_station_name,end_station_latitude,end_station_longitude,bike_id,user_type,member_birth_year,member_gender,bike_share_for_all_trip
0,52185,32:10.1,01:56.0,21.0,Montgomery St BART Station (Market St at 2nd St),37.789625,-122.400811,13.0,Commercial St at Montgomery St,37.794231,-122.402923,4902,Customer,1984.0,Male,No
1,42521,53:21.8,42:03.1,23.0,The Embarcadero at Steuart St,37.791464,-122.391034,81.0,Berry St at 4th St,37.775880,-122.393170,2535,Customer,NaN,NaN,No
2,61854,13:13.2,24:08.1,86.0,Market St at Dolores St,37.769305,-122.426826,3.0,Powell St BART Station (Market St at 4th St),37.786375,-122.404904,5905,Customer,1972.0,Male,No
3,36490,54:26.0,02:36.8,375.0,Grove St at Masonic Ave,37.774836,-122.446546,70.0,Central Ave at Fell St,37.773311,-122.444293,6638,Subscriber,1989.0,Other,No
4,1585,54:18.5,20:44.1,7.0,Frank H Ogawa Plaza,37.804562,-122.271738,222.0,10th Ave at E 15th St,37.792714,-122.248780,4898,Subscriber,1974.0,Male,Yes

In [4]:
from data_cleaner import DataCleaner
cleaner = DataCleaner(data)

In [5]:
a=cleaner.all_columns_outlier_percentage(method='iqr')
a

                    Column  Outlier %
2   start_station_latitude  16.975618
5     end_station_latitude  16.849675
7                  bike_id   7.226741
0             duration_sec   5.523509
6    end_station_longitude   4.509966
3  start_station_longitude   4.509421
8        member_birth_year   3.152397
4           end_station_id   0.000000
1         start_station_id   0.000000

In [6]:
cleaner = DataCleaner(data)  

cleaner.handle_outliers('member_birth_year', method='iqr', action='cap')

,duration_sec,start_time,end_time,start_station_id,start_station_name,start_station_latitude,start_station_longitude,end_station_id,end_station_name,end_station_latitude,end_station_longitude,bike_id,user_type,member_birth_year,member_gender,bike_share_for_all_trip
0,52185,32:10.1,01:56.0,21.0,Montgomery St BART Station (Market St at 2nd St),37.789625,-122.400811,13.0,Commercial St at Montgomery St,37.794231,-122.402923,4902,Customer,1984.0,Male,No
1,42521,53:21.8,42:03.1,23.0,The Embarcadero at Steuart St,37.791464,-122.391034,81.0,Berry St at 4th St,37.775880,-122.393170,2535,Customer,NaN,NaN,No
2,61854,13:13.2,24:08.1,86.0,Market St at Dolores St,37.769305,-122.426826,3.0,Powell St BART Station (Market St at 4th St),37.786375,-122.404904,5905,Customer,1972.0,Male,No
3,36490,54:26.0,02:36.8,375.0,Grove St at Masonic Ave,37.774836,-122.446546,70.0,Central Ave at Fell St,37.773311,-122.444293,6638,Subscriber,1989.0,Other,No
4,1585,54:18.5,20:44.1,7.0,Frank H Ogawa Plaza,37.804562,-122.271738,222.0,10th Ave at E 15th St,37.792714,-122.248780,4898,Subscriber,1974.0,Male,Yes
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
183411,271,00:20.6,04:52.1,24.0,Spear St at Folsom St,37.789677,-122.390428,37.0,2nd St at Folsom St,37.785000,-122.395936,1057,Subscriber,1989.0,Male,No
183412,313,05:34.7,10:48.5,21.0,Montgomery St BART Station (Market St at 2nd St),37.789625,-122.400811,66.0,3rd St at Townsend St,37.778742,-122.392741,4960,Subscriber,1984.0,Male,No
183413,141,06:05.5,08:27.2,278.0,The Alameda at Bush St,37.331932,-121.904888,277.0,Morrison Ave at Julian St,37.333658,-121.908586,3824,Subscriber,1990.0,Male,Yes
183414,139,05:34.4,07:54.3,220.0,San Pablo Ave at MLK Jr Way,37.811351,-122.273422,216.0,San Pablo Ave at 27th St,37.817827,-122.275698,5095,Subscriber,1988.0,Male,No
183415,271,00:20.6,04:52.1,24.0,Spear St at Folsom St,37.789677,-122.390428,37.0,2nd St at Folsom St,37.785000,-122.395936,1057,Subscriber,1989.0,Male,No

In [7]:
a=cleaner.all_columns_outlier_percentage(method='iqr')
a

                    Column  Outlier %
2   start_station_latitude  16.975618
5     end_station_latitude  16.849675
7                  bike_id   7.226741
0             duration_sec   5.523509
6    end_station_longitude   4.509966
3  start_station_longitude   4.509421
1         start_station_id   0.000000
4           end_station_id   0.000000
8        member_birth_year   0.000000

In [8]:
cleaner = DataCleaner(data)  

cleaner.handle_outliers('start_station_latitude', method='iqr', action='cap')

,duration_sec,start_time,end_time,start_station_id,start_station_name,start_station_latitude,start_station_longitude,end_station_id,end_station_name,end_station_latitude,end_station_longitude,bike_id,user_type,member_birth_year,member_gender,bike_share_for_all_trip
0,52185,32:10.1,01:56.0,21.0,Montgomery St BART Station (Market St at 2nd St),37.789625,-122.400811,13.0,Commercial St at Montgomery St,37.794231,-122.402923,4902,Customer,1984.0,Male,No
1,42521,53:21.8,42:03.1,23.0,The Embarcadero at Steuart St,37.791464,-122.391034,81.0,Berry St at 4th St,37.775880,-122.393170,2535,Customer,NaN,NaN,No
2,61854,13:13.2,24:08.1,86.0,Market St at Dolores St,37.769305,-122.426826,3.0,Powell St BART Station (Market St at 4th St),37.786375,-122.404904,5905,Customer,1972.0,Male,No
3,36490,54:26.0,02:36.8,375.0,Grove St at Masonic Ave,37.774836,-122.446546,70.0,Central Ave at Fell St,37.773311,-122.444293,6638,Subscriber,1989.0,Other,No
4,1585,54:18.5,20:44.1,7.0,Frank H Ogawa Plaza,37.804562,-122.271738,222.0,10th Ave at E 15th St,37.792714,-122.248780,4898,Subscriber,1974.0,Male,Yes
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
183411,271,00:20.6,04:52.1,24.0,Spear St at Folsom St,37.789677,-122.390428,37.0,2nd St at Folsom St,37.785000,-122.395936,1057,Subscriber,1989.0,Male,No
183412,313,05:34.7,10:48.5,21.0,Montgomery St BART Station (Market St at 2nd St),37.789625,-122.400811,66.0,3rd St at Townsend St,37.778742,-122.392741,4960,Subscriber,1984.0,Male,No
183413,141,06:05.5,08:27.2,278.0,The Alameda at Bush St,37.729288,-121.904888,277.0,Morrison Ave at Julian St,37.333658,-121.908586,3824,Subscriber,1990.0,Male,Yes
183414,139,05:34.4,07:54.3,220.0,San Pablo Ave at MLK Jr Way,37.811351,-122.273422,216.0,San Pablo Ave at 27th St,37.817827,-122.275698,5095,Subscriber,1988.0,Male,No
183415,271,00:20.6,04:52.1,24.0,Spear St at Folsom St,37.789677,-122.390428,37.0,2nd St at Folsom St,37.785000,-122.395936,1057,Subscriber,1989.0,Male,No

In [9]:
cleaner = DataCleaner(data)  

cleaner.handle_outliers('end_station_latitude', method='iqr', action='cap')

,duration_sec,start_time,end_time,start_station_id,start_station_name,start_station_latitude,start_station_longitude,end_station_id,end_station_name,end_station_latitude,end_station_longitude,bike_id,user_type,member_birth_year,member_gender,bike_share_for_all_trip
0,52185,32:10.1,01:56.0,21.0,Montgomery St BART Station (Market St at 2nd St),37.789625,-122.400811,13.0,Commercial St at Montgomery St,37.794231,-122.402923,4902,Customer,1984.0,Male,No
1,42521,53:21.8,42:03.1,23.0,The Embarcadero at Steuart St,37.791464,-122.391034,81.0,Berry St at 4th St,37.775880,-122.393170,2535,Customer,NaN,NaN,No
2,61854,13:13.2,24:08.1,86.0,Market St at Dolores St,37.769305,-122.426826,3.0,Powell St BART Station (Market St at 4th St),37.786375,-122.404904,5905,Customer,1972.0,Male,No
3,36490,54:26.0,02:36.8,375.0,Grove St at Masonic Ave,37.774836,-122.446546,70.0,Central Ave at Fell St,37.773311,-122.444293,6638,Subscriber,1989.0,Other,No
4,1585,54:18.5,20:44.1,7.0,Frank H Ogawa Plaza,37.804562,-122.271738,222.0,10th Ave at E 15th St,37.792714,-122.248780,4898,Subscriber,1974.0,Male,Yes
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
183411,271,00:20.6,04:52.1,24.0,Spear St at Folsom St,37.789677,-122.390428,37.0,2nd St at Folsom St,37.785000,-122.395936,1057,Subscriber,1989.0,Male,No
183412,313,05:34.7,10:48.5,21.0,Montgomery St BART Station (Market St at 2nd St),37.789625,-122.400811,66.0,3rd St at Townsend St,37.778742,-122.392741,4960,Subscriber,1984.0,Male,No
183413,141,06:05.5,08:27.2,278.0,The Alameda at Bush St,37.729288,-121.904888,277.0,Morrison Ave at Julian St,37.730039,-121.908586,3824,Subscriber,1990.0,Male,Yes
183414,139,05:34.4,07:54.3,220.0,San Pablo Ave at MLK Jr Way,37.811351,-122.273422,216.0,San Pablo Ave at 27th St,37.817827,-122.275698,5095,Subscriber,1988.0,Male,No
183415,271,00:20.6,04:52.1,24.0,Spear St at Folsom St,37.789677,-122.390428,37.0,2nd St at Folsom St,37.785000,-122.395936,1057,Subscriber,1989.0,Male,No

In [10]:
cleaner = DataCleaner(data)  

cleaner.handle_outliers('end_station_longitude', method='iqr', action='cap')

,duration_sec,start_time,end_time,start_station_id,start_station_name,start_station_latitude,start_station_longitude,end_station_id,end_station_name,end_station_latitude,end_station_longitude,bike_id,user_type,member_birth_year,member_gender,bike_share_for_all_trip
0,52185,32:10.1,01:56.0,21.0,Montgomery St BART Station (Market St at 2nd St),37.789625,-122.400811,13.0,Commercial St at Montgomery St,37.794231,-122.402923,4902,Customer,1984.0,Male,No
1,42521,53:21.8,42:03.1,23.0,The Embarcadero at Steuart St,37.791464,-122.391034,81.0,Berry St at 4th St,37.775880,-122.393170,2535,Customer,NaN,NaN,No
2,61854,13:13.2,24:08.1,86.0,Market St at Dolores St,37.769305,-122.426826,3.0,Powell St BART Station (Market St at 4th St),37.786375,-122.404904,5905,Customer,1972.0,Male,No
3,36490,54:26.0,02:36.8,375.0,Grove St at Masonic Ave,37.774836,-122.446546,70.0,Central Ave at Fell St,37.773311,-122.444293,6638,Subscriber,1989.0,Other,No
4,1585,54:18.5,20:44.1,7.0,Frank H Ogawa Plaza,37.804562,-122.271738,222.0,10th Ave at E 15th St,37.792714,-122.248780,4898,Subscriber,1974.0,Male,Yes
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
183411,271,00:20.6,04:52.1,24.0,Spear St at Folsom St,37.789677,-122.390428,37.0,2nd St at Folsom St,37.785000,-122.395936,1057,Subscriber,1989.0,Male,No
183412,313,05:34.7,10:48.5,21.0,Montgomery St BART Station (Market St at 2nd St),37.789625,-122.400811,66.0,3rd St at Townsend St,37.778742,-122.392741,4960,Subscriber,1984.0,Male,No
183413,141,06:05.5,08:27.2,278.0,The Alameda at Bush St,37.729288,-121.904888,277.0,Morrison Ave at Julian St,37.730039,-122.102524,3824,Subscriber,1990.0,Male,Yes
183414,139,05:34.4,07:54.3,220.0,San Pablo Ave at MLK Jr Way,37.811351,-122.273422,216.0,San Pablo Ave at 27th St,37.817827,-122.275698,5095,Subscriber,1988.0,Male,No
183415,271,00:20.6,04:52.1,24.0,Spear St at Folsom St,37.789677,-122.390428,37.0,2nd St at Folsom St,37.785000,-122.395936,1057,Subscriber,1989.0,Male,No

In [11]:
cleaner = DataCleaner(data)  

cleaner.handle_outliers('start_station_longitude', method='iqr', action='cap')

,duration_sec,start_time,end_time,start_station_id,start_station_name,start_station_latitude,start_station_longitude,end_station_id,end_station_name,end_station_latitude,end_station_longitude,bike_id,user_type,member_birth_year,member_gender,bike_share_for_all_trip
0,52185,32:10.1,01:56.0,21.0,Montgomery St BART Station (Market St at 2nd St),37.789625,-122.400811,13.0,Commercial St at Montgomery St,37.794231,-122.402923,4902,Customer,1984.0,Male,No
1,42521,53:21.8,42:03.1,23.0,The Embarcadero at Steuart St,37.791464,-122.391034,81.0,Berry St at 4th St,37.775880,-122.393170,2535,Customer,NaN,NaN,No
2,61854,13:13.2,24:08.1,86.0,Market St at Dolores St,37.769305,-122.426826,3.0,Powell St BART Station (Market St at 4th St),37.786375,-122.404904,5905,Customer,1972.0,Male,No
3,36490,54:26.0,02:36.8,375.0,Grove St at Masonic Ave,37.774836,-122.446546,70.0,Central Ave at Fell St,37.773311,-122.444293,6638,Subscriber,1989.0,Other,No
4,1585,54:18.5,20:44.1,7.0,Frank H Ogawa Plaza,37.804562,-122.271738,222.0,10th Ave at E 15th St,37.792714,-122.248780,4898,Subscriber,1974.0,Male,Yes
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
183411,271,00:20.6,04:52.1,24.0,Spear St at Folsom St,37.789677,-122.390428,37.0,2nd St at Folsom St,37.785000,-122.395936,1057,Subscriber,1989.0,Male,No
183412,313,05:34.7,10:48.5,21.0,Montgomery St BART Station (Market St at 2nd St),37.789625,-122.400811,66.0,3rd St at Townsend St,37.778742,-122.392741,4960,Subscriber,1984.0,Male,No
183413,141,06:05.5,08:27.2,278.0,The Alameda at Bush St,37.729288,-122.097721,277.0,Morrison Ave at Julian St,37.730039,-122.102524,3824,Subscriber,1990.0,Male,Yes
183414,139,05:34.4,07:54.3,220.0,San Pablo Ave at MLK Jr Way,37.811351,-122.273422,216.0,San Pablo Ave at 27th St,37.817827,-122.275698,5095,Subscriber,1988.0,Male,No
183415,271,00:20.6,04:52.1,24.0,Spear St at Folsom St,37.789677,-122.390428,37.0,2nd St at Folsom St,37.785000,-122.395936,1057,Subscriber,1989.0,Male,No

In [12]:
cleaner = DataCleaner(data)  

cleaner.handle_outliers('duration_sec', method='iqr', action='cap')

,duration_sec,start_time,end_time,start_station_id,start_station_name,start_station_latitude,start_station_longitude,end_station_id,end_station_name,end_station_latitude,end_station_longitude,bike_id,user_type,member_birth_year,member_gender,bike_share_for_all_trip
0,1502.5,32:10.1,01:56.0,21.0,Montgomery St BART Station (Market St at 2nd St),37.789625,-122.400811,13.0,Commercial St at Montgomery St,37.794231,-122.402923,4902,Customer,1984.0,Male,No
1,1502.5,53:21.8,42:03.1,23.0,The Embarcadero at Steuart St,37.791464,-122.391034,81.0,Berry St at 4th St,37.775880,-122.393170,2535,Customer,NaN,NaN,No
2,1502.5,13:13.2,24:08.1,86.0,Market St at Dolores St,37.769305,-122.426826,3.0,Powell St BART Station (Market St at 4th St),37.786375,-122.404904,5905,Customer,1972.0,Male,No
3,1502.5,54:26.0,02:36.8,375.0,Grove St at Masonic Ave,37.774836,-122.446546,70.0,Central Ave at Fell St,37.773311,-122.444293,6638,Subscriber,1989.0,Other,No
4,1502.5,54:18.5,20:44.1,7.0,Frank H Ogawa Plaza,37.804562,-122.271738,222.0,10th Ave at E 15th St,37.792714,-122.248780,4898,Subscriber,1974.0,Male,Yes
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
183411,271.0,00:20.6,04:52.1,24.0,Spear St at Folsom St,37.789677,-122.390428,37.0,2nd St at Folsom St,37.785000,-122.395936,1057,Subscriber,1989.0,Male,No
183412,313.0,05:34.7,10:48.5,21.0,Montgomery St BART Station (Market St at 2nd St),37.789625,-122.400811,66.0,3rd St at Townsend St,37.778742,-122.392741,4960,Subscriber,1984.0,Male,No
183413,141.0,06:05.5,08:27.2,278.0,The Alameda at Bush St,37.729288,-122.097721,277.0,Morrison Ave at Julian St,37.730039,-122.102524,3824,Subscriber,1990.0,Male,Yes
183414,139.0,05:34.4,07:54.3,220.0,San Pablo Ave at MLK Jr Way,37.811351,-122.273422,216.0,San Pablo Ave at 27th St,37.817827,-122.275698,5095,Subscriber,1988.0,Male,No
183415,271.0,00:20.6,04:52.1,24.0,Spear St at Folsom St,37.789677,-122.390428,37.0,2nd St at Folsom St,37.785000,-122.395936,1057,Subscriber,1989.0,Male,No

In [13]:
a = cleaner.all_columns_outlier_percentage( method='iqr')
a

                    Column  Outlier %
7                  bike_id   7.226741
0             duration_sec   0.000000
1         start_station_id   0.000000
3  start_station_longitude   0.000000
2   start_station_latitude   0.000000
4           end_station_id   0.000000
5     end_station_latitude   0.000000
6    end_station_longitude   0.000000
8        member_birth_year   0.000000

In [14]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import RobustScaler, StandardScaler


data.drop(columns=['bike_id'], inplace=True, errors='ignore')


lat_lon_cols = [
    'start_station_latitude', 'end_station_latitude',
    'start_station_longitude', 'end_station_longitude'
]
scaler_robust = RobustScaler()
data[lat_lon_cols] = scaler_robust.fit_transform(data[lat_lon_cols])


data['duration_sec'] = np.log1p(data['duration_sec'])
scaler_duration = StandardScaler()
data[['duration_sec']] = scaler_duration.fit_transform(data[['duration_sec']])


station_id_cols = ['start_station_id', 'end_station_id']
scaler_ids = StandardScaler()
data[station_id_cols] = scaler_ids.fit_transform(data[station_id_cols])


scaler_birth = StandardScaler()
data[['member_birth_year']] = scaler_birth.fit_transform(data[['member_birth_year']])

In [15]:
cols_to_show = [
    'start_station_latitude', 'end_station_latitude', 
    'start_station_longitude', 'end_station_longitude',
    'duration_sec', 'start_station_id', 'end_station_id', 
    'member_birth_year'
]

data_description = data[cols_to_show].describe().T
print(data_description)

                            count          mean       std       min       25%  \
start_station_latitude   183416.0  1.881013e-01  1.005313 -1.892582 -0.392582
end_station_latitude     183416.0  1.906564e-01  1.003672 -1.893961 -0.393961
start_station_longitude  183416.0  2.883316e-01  0.661374 -0.440277 -0.112201
end_station_longitude    183416.0  2.949601e-01  0.662877 -0.448131 -0.108719
duration_sec             183416.0 -6.421444e-16  1.000003 -3.285205 -0.679351
start_station_id         183219.0 -8.935157e-17  1.000003 -1.213026 -0.819391
end_station_id           183219.0 -2.481988e-18  1.000003 -1.194905 -0.827240
member_birth_year        175151.0  5.335429e-15  1.000003 -2.451581 -0.535506

                              50%       75%       max
start_station_latitude   0.000000  0.607418  2.107418
end_station_latitude     0.000000  0.606039  2.106039
start_station_longitude  0.000000  0.887799  2.387799
end_station_longitude    0.000000  0.891281  2.391281
duration_sec             0.038569  0.724175  1.720658
start_station_id        -0.309454  0.898290  2.320744
end_station_id          -0.325064  0.885540  2.347231
member_birth_year        0.209633  0.741876  1.699913

In [16]:
data.head(5)

,duration_sec,start_time,end_time,start_station_id,start_station_name,start_station_latitude,start_station_longitude,end_station_id,end_station_name,end_station_latitude,end_station_longitude,user_type,member_birth_year,member_gender,bike_share_for_all_trip
0,1.720658,32:10.1,01:56.0,-1.051993,Montgomery St BART Station (Market St at 2nd St),0.325967,-0.020070,-1.105231,Commercial St at Montgomery St,0.491276,-0.037546,Customer,-0.109712,Male,No
1,1.720658,53:21.8,42:03.1,-1.034101,The Embarcadero at Steuart St,0.393571,0.057602,-0.495445,Berry St at 4th St,-0.190610,0.041310,Customer,NaN,NaN,No
2,1.720658,13:13.2,24:08.1,-0.470487,Market St at Dolores St,-0.421180,-0.226740,-1.194905,Powell St BART Station (Market St at 4th St),0.199373,-0.053566,Customer,-1.387095,Male,No
3,1.720658,54:26.0,02:36.8,2.114981,Grove St at Masonic Ave,-0.217812,-0.383404,-0.594087,Central Ave at Fell St,-0.286074,-0.372033,Subscriber,0.422531,Other,No
4,1.720658,54:18.5,20:44.1,-1.177241,Frank H Ogawa Plaza,0.875182,1.005336,0.768963,10th Ave at E 15th St,0.434919,1.208755,Subscriber,-1.174198,Male,Yes

In [17]:
# trying to fill missing values in my datset using for loop 

for  col in data.select_dtypes('number').columns:
    if data[col].isnull().any() == True :
        data[col] = data[col].fillna(data[col].median())

print(data.select_dtypes(include='number').isnull().sum())

print('==========================================================')


for  col in data.select_dtypes('object').columns:
    if data[col].isnull().any() == True :
        data[col] = data[col].fillna(data[col].mode())
print(data.select_dtypes(include='object').isnull().sum())

duration_sec               0
start_station_id           0
start_station_latitude     0
start_station_longitude    0
end_station_id             0
end_station_latitude       0
end_station_longitude      0
member_birth_year          0
dtype: int64
==========================================================
start_time                    0
end_time                      0
start_station_name          197
end_station_name            197
user_type                     0
member_gender              8265
bike_share_for_all_trip       0
dtype: int64

In [18]:
##  still got a missing value in the member_gender, so let's explore this column more 

# print(bf.member_gender.head(15))
data['member_gender'] = data['member_gender'].fillna(data['member_gender'].mode()[0])
data['end_station_name'] = data['end_station_name'].fillna(data['end_station_name'].mode()[0])
data['start_station_name'] = data['start_station_name'].fillna(data['start_station_name'].mode()[0])

In [19]:
data.isnull().sum()

duration_sec               0
start_time                 0
end_time                   0
start_station_id           0
start_station_name         0
start_station_latitude     0
start_station_longitude    0
end_station_id             0
end_station_name           0
end_station_latitude       0
end_station_longitude      0
user_type                  0
member_birth_year          0
member_gender              0
bike_share_for_all_trip    0
dtype: int64

In [20]:
(data['duration_sec'].unique()).sum()

np.float64(527.5909448231558)

In [21]:
data.head(10)

,duration_sec,start_time,end_time,start_station_id,start_station_name,start_station_latitude,start_station_longitude,end_station_id,end_station_name,end_station_latitude,end_station_longitude,user_type,member_birth_year,member_gender,bike_share_for_all_trip
0,1.720658,32:10.1,01:56.0,-1.051993,Montgomery St BART Station (Market St at 2nd St),0.325967,-0.020070,-1.105231,Commercial St at Montgomery St,0.491276,-0.037546,Customer,-0.109712,Male,No
1,1.720658,53:21.8,42:03.1,-1.034101,The Embarcadero at Steuart St,0.393571,0.057602,-0.495445,Berry St at 4th St,-0.190610,0.041310,Customer,0.209633,Male,No
2,1.720658,13:13.2,24:08.1,-0.470487,Market St at Dolores St,-0.421180,-0.226740,-1.194905,Powell St BART Station (Market St at 4th St),0.199373,-0.053566,Customer,-1.387095,Male,No
3,1.720658,54:26.0,02:36.8,2.114981,Grove St at Masonic Ave,-0.217812,-0.383404,-0.594087,Central Ave at Fell St,-0.286074,-0.372033,Subscriber,0.422531,Other,No
4,1.720658,54:18.5,20:44.1,-1.177241,Frank H Ogawa Plaza,0.875182,1.005336,0.768963,10th Ave at E 15th St,0.434919,1.208755,Subscriber,-1.174198,Male,Yes
5,1.720658,49:58.6,19:51.8,-0.407863,4th St at Mission Bay Blvd S,-0.380657,0.056296,1.674674,Broadway at Kearny,0.631832,-0.062023,Subscriber,-2.451581,Male,No
6,1.297108,55:35.1,14:42.6,1.444012,Palm St at Willow St,-1.892582,2.387799,1.576032,San Jose Diridon Station,-1.893961,2.391281,Subscriber,-0.216161,Female,No
7,1.720658,41:06.8,08:02.8,-1.150402,Washington St at Kearny St,0.538033,-0.051524,-0.082943,Valencia St at 21st St,-0.902992,-0.183907,Subscriber,0.422531,Male,No
8,1.720658,41:48.8,07:59.7,-1.150402,Washington St at Kearny St,0.538033,-0.051524,-0.082943,Valencia St at 21st St,-0.902992,-0.183907,Subscriber,0.316082,Other,No
9,1.157014,49:47.7,07:17.0,-1.069886,Post St at Kearny St,0.302053,-0.041051,-0.136748,Mission Playground,-0.810023,-0.186447,Subscriber,0.741876,Male,No

In [22]:
data = data.drop(['end_station_name' , 'start_time' , 'end_time'] , axis=1)

In [24]:

data = data.drop(["start_station_name"] , axis=1)

In [25]:
data.head(10)

,duration_sec,start_station_id,start_station_latitude,start_station_longitude,end_station_id,end_station_latitude,end_station_longitude,user_type,member_birth_year,member_gender,bike_share_for_all_trip
0,1.720658,-1.051993,0.325967,-0.020070,-1.105231,0.491276,-0.037546,Customer,-0.109712,Male,No
1,1.720658,-1.034101,0.393571,0.057602,-0.495445,-0.190610,0.041310,Customer,0.209633,Male,No
2,1.720658,-0.470487,-0.421180,-0.226740,-1.194905,0.199373,-0.053566,Customer,-1.387095,Male,No
3,1.720658,2.114981,-0.217812,-0.383404,-0.594087,-0.286074,-0.372033,Subscriber,0.422531,Other,No
4,1.720658,-1.177241,0.875182,1.005336,0.768963,0.434919,1.208755,Subscriber,-1.174198,Male,Yes
5,1.720658,-0.407863,-0.380657,0.056296,1.674674,0.631832,-0.062023,Subscriber,-2.451581,Male,No
6,1.297108,1.444012,-1.892582,2.387799,1.576032,-1.893961,2.391281,Subscriber,-0.216161,Female,No
7,1.720658,-1.150402,0.538033,-0.051524,-0.082943,-0.902992,-0.183907,Subscriber,0.422531,Male,No
8,1.720658,-1.150402,0.538033,-0.051524,-0.082943,-0.902992,-0.183907,Subscriber,0.316082,Other,No
9,1.157014,-1.069886,0.302053,-0.041051,-0.136748,-0.810023,-0.186447,Subscriber,0.741876,Male,No

In [ ]:
from sklearn.preprocessing import LabelEncoder , OneHotEncoder

In [27]:
le = LabelEncoder()
data['user_type'] = le.fit_transform(data['user_type'])

In [28]:
data['bike_share_for_all_trip'] = data['bike_share_for_all_trip'].map({'Yes':1 , 'No':0})

In [35]:
data = pd.get_dummies(data, columns=['member_gender'], prefix='gender')

In [37]:
data[['gender_Female','gender_Male','gender_Other']] = data[['gender_Female','gender_Male','gender_Other']].astype(int)

In [38]:
data.head(10)

,duration_sec,start_station_id,start_station_latitude,start_station_longitude,end_station_id,end_station_latitude,end_station_longitude,user_type,member_birth_year,bike_share_for_all_trip,gender_Female,gender_Male,gender_Other
0,1.720658,-1.051993,0.325967,-0.020070,-1.105231,0.491276,-0.037546,0,-0.109712,0,0,1,0
1,1.720658,-1.034101,0.393571,0.057602,-0.495445,-0.190610,0.041310,0,0.209633,0,0,1,0
2,1.720658,-0.470487,-0.421180,-0.226740,-1.194905,0.199373,-0.053566,0,-1.387095,0,0,1,0
3,1.720658,2.114981,-0.217812,-0.383404,-0.594087,-0.286074,-0.372033,1,0.422531,0,0,0,1
4,1.720658,-1.177241,0.875182,1.005336,0.768963,0.434919,1.208755,1,-1.174198,1,0,1,0
5,1.720658,-0.407863,-0.380657,0.056296,1.674674,0.631832,-0.062023,1,-2.451581,0,0,1,0
6,1.297108,1.444012,-1.892582,2.387799,1.576032,-1.893961,2.391281,1,-0.216161,0,1,0,0
7,1.720658,-1.150402,0.538033,-0.051524,-0.082943,-0.902992,-0.183907,1,0.422531,0,0,1,0
8,1.720658,-1.150402,0.538033,-0.051524,-0.082943,-0.902992,-0.183907,1,0.316082,0,0,0,1
9,1.157014,-1.069886,0.302053,-0.041051,-0.136748,-0.810023,-0.186447,1,0.741876,0,0,1,0