In [1]:
from data_loader import DataLoader
loader = DataLoader()
data = loader.load_csv("C:/End-to-End-Pipeline/data/raw/ford_go_bike_data.csv")

Successfully loaded CSV: C:/End-to-End-Pipeline/data/raw/ford_go_bike_data.csv

In [ ]:
import plotly as plotly

plotly.hs

In [8]:
import pandas as pd
from data_overview import DataOverview
overview = DataOverview()
# overview.shape(data)
# overview.sample(data,10)
# overview.duplicates(data)
# overview.outliers(data)
# overview.overview(data)
overview.get_stats(data)

,Column,Type,Count,Mean,Std,Min,Max
0,duration_sec,numeric,183416,726.07,1794.37,61.00,85444.00
1,start_station_id,numeric,183219,138.59,111.78,3.00,398.00
2,start_station_latitude,numeric,183416,37.77,0.10,37.32,37.88
3,start_station_longitude,numeric,183416,-122.35,0.12,-122.45,-121.87
4,end_station_id,numeric,183219,136.25,111.51,3.00,398.00
5,end_station_latitude,numeric,183416,37.77,0.10,37.32,37.88
6,end_station_longitude,numeric,183416,-122.35,0.12,-122.45,-121.87
7,bike_id,numeric,183416,4472.89,1664.39,11.00,6645.00
8,member_birth_year,numeric,175151,1984.81,10.12,1878.00,2001.00